.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Header h1 {
    padding-left: 80px;
}

/* 
    Style override for the Virtual Keyboard 
*/

.virtual-key-row {
    height: 60px;
    margin-top: 15px;
    display: flex;
    justify-content: center;
}


.virtual-key-row button{
    height: 100%;
    width: 47px;
    margin-left: 5px;
    border-radius: 4px;
    background-color: #d3d6da;
    font-weight: bold;
    font-size:1.5em;
    border: 0;
}

.virtual-key-row button.gray {
    background-color: gray;
    color: white;
}

.virtual-key-row button.green {
    background-color: green;
    color: white
}

.virtual-key-row button.yellow {
    background-color: #c9b458;
    color: white
}

.virtual-key-row button:hover  {
    background-color: gray;
    color: white
}

#ENTERbutton, #DELbutton {
    width: 70px;
    font-size:0.9em;
}


button.virtual-key {
    /* min-width: 50px !important; */
    /*width: 40px;*/
}

#midRow button.virtual-key {
    /* min-width: 55px !important; */
}

#bottom  button.virtual-key {
    /* min-width: 62px !important; */
}

.MuiGrid-container {
    max-width: 750px !important;
}

/* Override the box styles */
.MuiGrid-item div  {
    font-size: 35px;
    font-weight: 600;
    display:flex;
    justify-content: center;
    align-items: center;
}

/**
    Style for the InputBox flip effect
*/
.flipped {
    transform: rotateX(180deg);
}

.flipped .Green-Box {
    background-color: #6aaa64;
    color: white;
}

.flipped .Gray-Box {
    background-color: #86888a ;
    color: white;
}

.flipped .Yellow-Box {
    background-color: #c9b458;
    color: white;
}

.flip-card-inner {
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
}

.flip-card-back {
    transform: rotateX(180deg);
    /* background-color: green; */
    /* color: white; */
    /* padding-top: 10px; */
}

.flip-card-front {
    /* padding-top: 10px; */
}

/**
Style for the snackbar (notification)
*/
.MuiSnackbarContent-message {
    font-size: 20px;
    font-weight: bold;
}

.MuiSnackbar-root > div {
    justify-content: center;
}
